<div class="card w-auto border-0" (click)="cardClick()">
  <div *ngIf="issue.status == Status.HOLD" class="w-100 card-header border-2 bg-danger h-auto"></div>
  <div *ngIf="issue.status == Status.OPEN" class="w-100 card-header border-2 bg-success h-auto"></div>
  <div class="card-body">
    <h3 class="card-title">
      {{issue.name}}
    </h3>
    <h6 class="card-text">
      {{issue.status | status}}
    </h6>
    <h6 class="card-text">
      {{issue.issuedAt | date}}
    </h6>
  </div>
</div>
