<nav id="SideBar" class="sidebar d-lg-block shadow" >
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3">
      <div class="list-group-item list-group-item-action py-2 ripple" [ngClass]="{'active': activeIssue}" (click)="goToIssues()">
        <span>Aktív feladatok</span>
      </div>
      <div class="list-group-item list-group-item-action py-2 ripple" [ngClass]="{'active': activeProfile}" (click)="goToProfile()">
        <span>Profil</span>
      </div>
      <div class="list-group-item list-group-item-action py-2 ripple" [ngClass]="{'active': activeArchive}" (click)="goToArchive()">
        <span>Archív</span>
      </div>
      <div class="list-group-item list-group-item-action py-2 ripple" [ngClass]="{'active': activeUsers}" (click)="goToUsers()">
        <span>Felhasználók</span>
      </div>
      <div class="list-group-item list-group-item-action py-2 ripple" [ngClass]="{'active': activeGroups}" (click)="goToGroup()">
        <span>Csoportok</span>
      </div>
      <div class="list-group-item list-group-item-action py-2 ripple bg-danger text-bg-primary" (click)="logout()">Kijelentkezés</div>
    </div>
  </div>
</nav>
